<template>
  <div class="bg-img">
    <form class="box d-flex justify-center flex-column">
      <h2 style="margin-left: auto; margin-right: auto">เข้าสู่ระบบ</h2>
      <v-form ref="register_form">
        <v-text-field
          style="
            width: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
          "
          :rules="rule_username"
          v-model="username"
          label="ชื่อผู้ใช้"
          outlined
        ></v-text-field>
        <v-text-field
          style="width: 350px; margin-left: auto; margin-right: auto"
          v-model="password"
          :rules="rule_password"
          :type="show2  ? 'text' : 'password'"
          @click:append="show2  = !show2 "
          :append-icon="show2  ? 'mdi-eye' : 'mdi-eye-off'"
          label="รหัสผ่าน"
          outlined
        ></v-text-field>
        <v-btn type="submit" rounded color="#7E8FE5" width="350px" dark style="margin-left: 18%; "  @click="login">เข้าสู่ระบบ</v-btn>
        <v-btn   rounded style="color:#7E8FE5;border: 1.5px solid #7E8FE5; margin-top: 10px; margin-left: 18%;" width="350px" @click="toRegis"> สมัคสมาชิก </v-btn>
      </v-form>
      
      
    </form>
     <RegisterDialog ref="RegisterDialog"></RegisterDialog>
  </div>
 
</template>

<script>
import RegisterDialog from '@/components/RegisterDialog.vue';
export default {
  components:{
    RegisterDialog
  },
  data() {
    return {
      show2: true,
      username: "",
      password: "",
      rule_username: [(v) => !!v || "กรุณากรอกชื่อผู้ใช้"],
      rule_password: [(v) => !!v || "กรุณากรอกรหัสผ่าน"],
    };
  },
  methods:{
    login(e) {
      e.preventDefault()
      if (!this.$refs.register_form.validate()) {
        alert("กรุณากรอกข้อมูลให้ครบถ้วน");
      }
      const sentData = {
        username: this.username,
        password: this.password,
      };
      console.log(sentData);
      this.axios
        .post(process.env.VUE_APP_BASE_URL + "/test/login", sentData)
        .then((res) => {
          console.log(res.data);
          if (res.data.status == "success") {
            (sessionStorage.name = res.data.result.name),
            (sessionStorage.status = res.data.result.status),
            // this.$router.push({ path: "/User" });
            (sessionStorage.name = res.data.result.name),
            (sessionStorage._id = res.data.result._id),
            this.$router.push({ path: "/ShopPage" });
          } else {
            alert("ไม่พบข้อมูลในระบบ");
          }
        });
       
    },
    toRegis(){
      this.$refs.RegisterDialog.openDialog()
    }
   
  }
};
</script>

<style scoped>
.bg-img {
  background: url("~@/assets/Group7.png");
  background-size: 100%;
  height: 100%;
}
.box {
  width: 550px;
  height: 420px;
  background-color: #f6fbf9;
  border-radius: 49.0901px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>