<template>
  <div class="bg">
    <div>
      <v-btn style="margin-left:80%" color="#7E8FE5" dark @click="toAddproductDialog">
        <v-icon>mdi-plus-circle-outline</v-icon> เพิ่มรายการสินค้า
      </v-btn>
    </div>
    <div>
      <v-data-table
        style="margin-top: 10px"
        dense
        :headers="headers"
        :items="userData"
        item-key="name"
        class="elevation-1"
      >
        <template v-slot:[`item.action`]="{ item }">
          <v-tooltip left>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                size="24"
                @click="sentTodetailDialog(item)"
                v-bind="attrs"
                v-on="on"
                >mdi-file-account-outline</v-icon
              >
            </template>
            <span>รายละเอียด</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                size="24"
                @click="sentToEditDialog(item)"
                v-bind="attrs"
                v-on="on"
                >mdi-pencil</v-icon
              >
            </template>
            <span>แก้ไขชื่อสิ้นค้า</span>
          </v-tooltip>

          <v-tooltip right>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                size="24"
                @click="showdeleteDialog(item._id)"
                v-bind="attrs"
                v-on="on"
                >mdi-delete</v-icon
              >
            </template>
            <span>ลบชื่อสินค้า</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </div>

    <AddproductDialog ref="AddproductDialog"></AddproductDialog>
    <DetailDialog ref="DetailDialog"></DetailDialog>
    <EditproductdetailDialog
      ref="EditproductdetailDialog"
    ></EditproductdetailDialog>
  </div>
</template>

<script>
import AddproductDialog from "@/components/AddproductDialog.vue";
import DetailDialog from "@/components/DetailDialog.vue";
import EditproductdetailDialog from "@/components/EditproductdetailDialog.vue";
import { EventBus } from "@/EventBus";
export default {
  components: {
    AddproductDialog,
    DetailDialog,
    EditproductdetailDialog,
  },
  data: () => ({
    // fileJson:fileJson.users,
    userData: [],
    headers: [
      {
        text: "รายชื่อสินค้า",
        align: "start",
        sortable: false,
        value: "productName",
      },
      { text: "ประเภท", value: "type", sortable: false },
      { text: "จำนวณ", value: "amount", sortable: false },
      { text: "ราคา", value: "price", sortable: false },
      { text: "action", value: "action" },
    ],
    editUser: true,
    dataItem: {
      productName: "",
      price: "",
      amount: "",
      type: "",
      unit: "",
      detail: "",
    },
  }),
  mounted() {
    this.getProduct();
    EventBus.$on("getProduct", this.getProduct);
    this.permission();
  },
  methods: {
    permission() {
      if (sessionStorage.length == 0) {
        this.$router.push({ path: "/" });
      }
    },
    toAddproductDialog() {
      this.$refs.AddproductDialog.openDialog();
    },
    getProduct() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test/product")
        .then((res) => {
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },

    sentTodetailDialog(dataItem) {
      console.log(dataItem);
      this.dataItem = JSON.parse(JSON.stringify(dataItem));
      console.log("sendDelete", dataItem);
      EventBus.$emit("userItem", dataItem);
      // EventBus.$emit('userItemData',{555:'5555'})
      this.$refs.DetailDialog.openDialog();
    },
    sentToEditDialog(dataItem) {
      console.log(dataItem);
      this.dataItem = JSON.parse(JSON.stringify(dataItem));
      console.log("sendDelete", dataItem);
      EventBus.$emit("userItem", dataItem);
      // EventBus.$emit('userItemData',{555:'5555'})
      this.$refs.EditproductdetailDialog.openDialog(dataItem);
    },
    deleteData(id) {
      this.axios.delete(process.env.VUE_APP_BASE_URL + "/test/product/" + id);
      this.getProduct();
      EventBus.$emit("getProduct");
      this.dialog = false;
    },
    showdeleteDialog(id) {
      this.$swal({
        html: `<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>${this.dataItem.productName}</span>`,
        title:
          "<span style='color: red;font-size: 20px;font-family: Sarabun, sans-serif;'>คุณต้องการลบ</span>",
        icon: "error",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "ยืนยัน",
        cancelButtonText: "ยกเลิก",
      }).then((result) => {
        if (result.isConfirmed) {
          this.deleteData(id);
          this.$swal("Deleted!");
        }
      });
    },
  },
};
</script>

<style scoped>
.bg {
  padding-top: 10%;
}
.ma-2 {
  left: 1670px;
  top: 130px;
  position: fixed;
}
</style>