<template>
  <div class="bg">
    <v-container>
      <h2 style="color: black; margin-left: 60px; font-size: 40px">SHOP</h2>

      <v-row>
        <v-col
          align-self="center"
          cols="3"
          v-for="dataItem in userData"
          :key="dataItem._id"
          @click="sentToshopdetailDialog(dataItem)"
        >
          <v-hover v-slot="{ hover }">
            <v-btn
              class="card"
              style="background-color: #7e8fe5; width: 185px; height: 175px"
              hover
              :color="hover ? 'light-blue accent-1' : 'cyan darken-3'"
              :disabled="dataItem.amount > 0 ? false : true"
            >
              <v-card-text class="d-flex flex-column">
                <span style="color: black">{{
                  "ชื่อ: " + dataItem.productName
                }}</span>
                <span style="color: black; margin-bottom: 50px">{{
                  "จำนวนที่เหลือ: " + dataItem.amount
                }}</span>

                <span style="color: black">{{
                  "ประเภท: " + dataItem.type
                }}</span>
                <span style="color: black">
                  {{ "ราคา: " + dataItem.price + " บาท" }}</span
                >
              </v-card-text>
            </v-btn>
          </v-hover>
        </v-col>
      </v-row>
    </v-container>
    <ShopdetailDialog ref="ShopdetailDialog"></ShopdetailDialog>
  </div>
</template>

<script>
import { EventBus } from "@/EventBus";
import ShopdetailDialog from "@/components/ShopdetailDialog.vue";

export default {
  components: {
    ShopdetailDialog,
  },
  data: () => ({
    userData: [],
    dataItem: {
      productName: "",
      price: "",
      amount: "",
      type: "",
      unit: "",
      detail: "",
    },
  }),
  mounted() {
    this.getProduct();
    EventBus.$on("getProduct", this.getProduct);
    this.permission();
  },
  methods: {
    permission() {
      if (sessionStorage.length == 0) {
        this.$router.push({ path: "/" });
      }
    },
    getProduct() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test/product")
        .then((res) => {
          console.log(res);
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },
    sentToshopdetailDialog(dataItem) {
      if (dataItem.amount > 0) {
        console.log("sendDelete", dataItem);
        EventBus.$emit("userItem", dataItem);
        this.$refs.ShopdetailDialog.openDialog(dataItem);
      }
    },
  },
};
</script>

<style>
.bg {
  padding-top: 8%;
}
.row {
  margin: 50px;
}
.v-main__wrap {
  background-color: #eff2ff;
}
</style>