<template>
  <div class="bg">
    <v-data-table
      style="margin-top: 10px"
      dense
      :headers="headers"
      :items="userData"
      item-key="name"
      class="elevation-1"
    >
      <template v-slot:[`item.action`]="{ item }">
        <v-tooltip left>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              size="24"
              @click="sentTouserdetailDialog(item)"
              v-bind="attrs"
              v-on="on"
              >mdi-file-account-outline</v-icon
            >
          </template>
          <span>รายละเอียด</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              size="24"
              @click="sentToEdituserdetailDialog(item)"
              v-bind="attrs"
              v-on="on"
              >mdi-pencil</v-icon
            >
          </template>
          <span>แก้ไขรายชื่อผู้ใช้</span>
        </v-tooltip>

        <v-tooltip right>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              size="24"
              @click="showdeleteDialog(item)"
              v-bind="attrs"
              v-on="on"
              >mdi-delete</v-icon
            >
          </template>
          <span>ลบรายชื่อผู้ใช้</span>
        </v-tooltip>
      </template>
    </v-data-table>
    <DetailuserDialog ref="DetailuserDialog"></DetailuserDialog>
    <EdituserdetailDialog ref="EdituserdetailDialog"></EdituserdetailDialog>
  </div>
</template>

<script>
import DetailuserDialog from "@/components/DetailuserDialog.vue";
import EdituserdetailDialog from "@/components/EdituserdetailDialog.vue";
import { EventBus } from "@/EventBus";
export default {
  components: {
    DetailuserDialog,
    EdituserdetailDialog,
  },
  data: () => ({
    // fileJson:fileJson.users,
    name: sessionStorage.getItem("name"),
    userData: [],
    headers: [
      {
        text: "รายชื่อผู้ใช้",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "อายุ", value: "age", sortable: false },
      { text: "ข้อมูลติดต่อ", value: "phone", sortable: false },
      { text: "action", value: "action" },
    ],
    editUser: true,
    dataItem: {
      name: "",
      address: "",
      age: "",
      gender: "",
      email: "",
      phone: "",
      username: "",
      status: "",
    },
  }),
  mounted() {
    this.getUser();
    EventBus.$on("getUser", this.getUser);
    this.permission();
  },
  methods: {
    permission() {
      if (sessionStorage.length == 0) {
        this.$router.push({ path: "/" });
      }
    },
    getUser() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test2/user2")
        .then((res) => {
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },

    sentTouserdetailDialog(dataItem) {
      console.log(dataItem);
      this.dataItem = JSON.parse(JSON.stringify(dataItem));
      console.log("sendDelete", dataItem);
      EventBus.$emit("userItem", dataItem);
      // EventBus.$emit('userItemData',{555:'5555'})
      this.$refs.DetailuserDialog.openDialog();
    },
    sentToEdituserdetailDialog(dataItem) {
      console.log(dataItem);
      this.dataItem = JSON.parse(JSON.stringify(dataItem));
      console.log("sendDelete", dataItem);
      EventBus.$emit("userItem", dataItem);
      // EventBus.$emit('userItemData',{555:'5555'})
      this.$refs.EdituserdetailDialog.openDialog(dataItem);
    },
    deleteData(id) {
      this.axios.delete(process.env.VUE_APP_BASE_URL + "/test2/user2/" + id);
      this.getUser();
      EventBus.$emit("getUser");
      this.dialog = false;
    },
    showdeleteDialog(dataItem) {
      if (dataItem.name != this.name) {
        this.dataItem = JSON.parse(JSON.stringify(dataItem));
        this.$swal({
          html: `<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>${this.dataItem.name}</span>`,
          title:
            "<span style='color: red;font-size: 20px;font-family: Sarabun, sans-serif;'>คุณต้องการลบ</span>",
          icon: "error",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "ยืนยัน",
          cancelButtonText: "ยกเลิก",
        }).then((result) => {
          if (result.isConfirmed) {
            this.deleteData(dataItem._id);
            this.$swal("Deleted!");
          }
        });
      }else{
        alert("ไม่สามาลบตัวเองได้")
      }
    },
  },
};
</script>

<style scoped>
.bg {
  padding-top: 10%;
}
.ma-2 {
  left: 1670px;
  top: 130px;
  position: fixed;
}
</style>