<template>
  <div>
    <v-app-bar color="#7E8FE5" dense dark fixed height="75%">
      <h2>ร้านนี้ดีขายแล้วรวยยย</h2>
      <v-spacer></v-spacer>

      <v-menu bottom min-width="200px" rounded offset-y>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on" style="right: 100px">
            <v-list-item-subtitle>{{ name }}</v-list-item-subtitle>
            <v-icon>mdi-chevron-down</v-icon>
          </v-btn>
        </template>
        <v-card >
          <v-btn  depressed rounded text @click="logout">
            <v-icon>mdi-logout</v-icon> ออกจากระบบ
          </v-btn>
        </v-card>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer
      permanent
      app
      color="white"
      style="margin-top: 6em; position: fixed"
    >
      <v-list nav dense>
        <v-list-item
          link
          key="ProductlistPage"
          to="ProductlistPage"
          v-if="status == 'admin'"
        >
          <v-list-item-icon>
            <v-icon>mdi-clipboard-list-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>รายการสินค้า</v-list-item-title>
        </v-list-item>
        <v-list-item
          link
          key="UserlistPage"
          to="UserlistPage"
          v-if="status == 'admin'"
        >
          <v-list-item-icon>
            <v-icon>mdi-account-group-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>รายชื้อผู้ใช้</v-list-item-title>
        </v-list-item>
        <v-list-item link key="ShopPage" to="ShopPage">
          <v-list-item-icon>
            <v-icon>mdi-basket</v-icon>
          </v-list-item-icon>
          <v-list-item-title>SHOP</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main style="padding: 0px">
      <router-view> </router-view>
    </v-main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      change: true,
      name: sessionStorage.getItem("name"),
      status: sessionStorage.getItem("status"),
    };
  },
  methods: {
    logout() {
      sessionStorage.clear;
      this.$router.push({ path: "/" });
    },
  },
};
</script>

<style scoped>
.v-main__wrap {
  background-color: #eff2ff;
}
</style>