<template>
  <v-dialog v-model="dialog" width="500px" height="1000px">
    <v-card v-model="dialog">
      <v-card-title
        class="text-h5 lighten-2"
        style="background-color: #ffffff; color: black"
      >
        เพิ่มสินค้า
      </v-card-title>
      <v-card ref="form">
        <v-card-text>
          <span>ชื่อสินค้า <span style="color: red">*</span></span>
          <v-text-field
            dense
            height="10px"
            ref="register_form"
            v-model="dataItem.productName"
            :rules="rule_productName"
            outlined
            placeholder="กรุณาระบุชื่อสินค้า"
          ></v-text-field>
          <span>ประเภทสินค้า<span style="color: red">*</span></span>
          <v-text-field
            dense
            ref="register_form"
            v-model="dataItem.type"
            :rules="rule_type"
            outlined
            placeholder="กรุณาระบุประเภทสินค้า"
          ></v-text-field>
          <span>หน่วย<span style="color: red">*</span></span>
          <v-text-field
            dense
            ref="register_form"
            v-model="dataItem.unit"
            :rules="rule_unit"
            outlined
            placeholder="กรุณาระบุหน่วยของสินค้า"
          ></v-text-field>
          <span>ราคาต่อหน่วย<span style="color: red">*</span></span>
          <v-text-field
            dense
            ref="register_form"
            v-model="dataItem.price"
            :rules="rule_price"
            outlined
            placeholder="กรุณาระบุราคา"
          ></v-text-field>
          <span>จำนวณสินค้า<span style="color: red">*</span></span>
          <v-text-field
            dense
            ref="register_form"
            v-model="dataItem.amount"
            :rules="rule_amount"
            outlined
            placeholder="กรุณาระบุจำนวณสินค้า"
          ></v-text-field>
          <span>รายละเอียดสินค้า<span style="color: red">*</span></span>
          <v-textarea
            ref="register_form"
            v-model="dataItem.detail"
            :rules="rule_detail"
            outlined
            placeholder="กรุณาระบุรายละเอียดสินค้า"
          ></v-textarea>

          <v-card-actions>
            <v-btn
              text
              style="
                color: #7e8fe5;
                border: 1.5px solid #7e8fe5;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
              "
              @click="dialog = false"
            >
              ยกเลิก
            </v-btn>
            <v-btn
              text
              color="#ffff"
              style="
                margin-left: auto;
                margin-right: auto;
                background-color: #7e8fe5;
                width: 200px;
              "
              @click="postProduct"
              >บันทึก</v-btn
            >
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "@/EventBus";
export default {
  data() {
    return {
      dialog: false,
      dataItem: {
        productName: "",
        price: "",
        amount: "",
        type: "",
        unit: "",
        detail: "",
      },
      rule_productName: [(v) => !!v || "กรุณากรอกชื่อสิรค้า"],
      rule_price: [(v) => !!v || "กรุณากรอกราคา"],
      rule_amount: [(v) => !!v || "กรุณากรอกจำนวณสินค้า"],
      rule_type: [(v) => !!v || "กรุณากรอกประเภทสินค้า"],
      rule_unit: [(v) => !!v || "กรุณากรอกหน่วยของสินค้า"],
      rule_detail: [(v) => !!v || "กรุณากรอกรายละเอียดสินค้า"],
    };
  },
  methods: {
    openDialog() {
      this.dialog = true;
    },
    getProduct() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test/product")
        .then((res) => {
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },
    postProduct() {
      if (!this.$refs.register_form.validate()) {
        alert("กรุณากรอกข้อมูลให้ครบถ้วน");
      } else {
        const sentData = this.dataItem;
        this.axios
          .post(process.env.VUE_APP_BASE_URL + "/test/product", sentData)
          .then((res) => {
            if (res.data.message === "success") {
              this.getProduct();
               EventBus.$emit('getProduct')
              this.$swal({
                type: "success",
                icon: "success",
                width: 366,
                title:
                  "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>บันทึกข้อมูลสำเร็จ</span>",
                showCloseButton: false,
                showConfirmButton: false,
                background: "white",
                position: "center",
                timer: 3000,
                backdrop: false,
              });
              this.dialog = false;
              this.resetItemData();
            } else {
              this.$swal({
                type: "error",
                icon: "error",
                width: 366,
                title:
                  "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>บันทึกข้อมูลไม่สำเร็จ</span>",
                showCloseButton: false,
                showConfirmButton: false,
                background: "white",
                position: "center",
                timer: 3000,
                backdrop: false,
              });
            }
          });
      }
    },
    resetItemData() {
      this.dataItem = {
        productName: "",
        price: "",
        amount: "",
        type: "",
        unit: "",
        detail: "",
      };
    },
  },
};
</script >

<style >
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #eff6fc;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 133, 133);
}

::-webkit-scrollbar-corner {
  background: #d8d8d8;
}
</style>