<template>
  <v-dialog v-model="dialog" width="500px" height="1000px">
    <v-card v-model="dialog">
      <!-- <v-card-title
        class="text-h5 lighten-2"
        style="background-color: #ffffff; color: black"
      >
        รายละเอียดสินค้า
      </v-card-title> -->

      <v-tabs align-with-title>
        <v-tab  @click="change=true"> รายละเอียดผู้ใช้ </v-tab>
        <v-tab></v-tab>
        <v-tab  @click="change=false">
          ประวัติการซื้อสิ้นค้า
        </v-tab>
        <v-tabs-slider color="#7E8FE5"></v-tabs-slider>
      </v-tabs>

      <v-card ref="form" v-if="change === true">
        <v-card-text>
          <span>ชื่อผู้ใช้</span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem.name"
            outlined
            disabled
          ></v-text-field>
          <span>เพศ </span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem.gender"
            outlined
            disabled
          ></v-text-field>
          <span>อายุ</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.age"
            outlined
            disabled
          ></v-text-field>
          <span>เบอร์โทร</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.phone"
            outlined
            disabled
          ></v-text-field>
          <span>username</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.username"
            outlined
            disabled
          ></v-text-field>
          <span>สิทธิ์ผู้ใช้งาน</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.status"
            outlined
            disabled
          ></v-text-field>
          
        </v-card-text>
      </v-card>

      <v-card ref="form" v-if="change === false">
        <v-card-text>
          <v-row>
            <v-col v-for="history in userData" :key="history.id" cols="12">
              <v-card  max-width="344"   style="height:120px;border: 1px solid #7E8FE5;border-radius: 8px;">
                <div class="d-flex flex-column" style="margin-top:17px;margin-left: 20px;">
                  <span>ชื่อสินค้า : {{ history.product_name }}</span>
                  <span>จำนวนสินค้า : {{ history.amount }}</span>
                  <span>ราคา : {{ history.totalprice }}</span>
                  <span>วันที่ซื้อ : {{ history.created_at }}</span>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "@/EventBus";
export default {
  data() {
    return {
      dialog: false,
      change: true,
      userData: [],
      dataItem: {
        name: "",
        address: "",
        age: "",
        gender: "",
        email: "",
        phone: "",
        username:"",
        status:"",
      },
      history: {
        product_name: "",
        created_at: "",
        amount: "",
        totalprice: "",
      },
      rule_productName: [(v) => !!v || "กรุณากรอกชื่อสิรค้า"],
      rule_price: [(v) => !!v || "กรุณากรอกราคา"],
      rule_amount: [(v) => !!v || "กรุณากรอกจำนวณสินค้า"],
      rule_type: [(v) => !!v || "กรุณากรอกประเภทสินค้า"],
      rule_unit: [(v) => !!v || "กรุณากรอกหน่วยของสินค้า"],
      rule_detail: [(v) => !!v || "กรุณากรอกรายละเอียดสินค้า"],
    };
  },
  created() {
    EventBus.$on("userItem", this.getItem);
  },
  methods: {
    openDialog() {
      this.dialog = true;
     
       this.getProduct();
      EventBus.$on("getProduct", this.getProduct);
      // this.edit(dataItem)
    },
    getItem(ad) {
      this.dataItem = ad;
    },
    getProduct() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test/history")
        .then((res) => {
          console.log(res);
          console.log(res.data.data.length);
          console.log(this.dataItem.name);
          console.log(res.data.data[0].user_name);
          for (let i = 0; i < res.data.data.length; i++) {
            if (
              res.data.message === "success" &&
              res.data.data[i].user_name === this.dataItem.name
            ) {
              this.userData.push(res.data.data[i]);
            }
          }
        });
    },
    
  },
};
</script>

<style>
</style>