<template>
  <v-dialog v-model="dialog" width="500px" height="1000px">
    <v-card v-model="dialog">
      <!-- <v-card-title
        class="text-h5 lighten-2"
        style="background-color: #ffffff; color: black"
      >
        รายละเอียดสินค้า
      </v-card-title> -->

      <v-tabs align-with-title>
        <v-tab @click="change = true"> รายละเอียดสินค้า </v-tab>
        <v-tab></v-tab>
        <v-tab @click="change = false"> ประวัติการซื้อสิ้นค้า </v-tab>
        <v-tabs-slider color="#7E8FE5"></v-tabs-slider>
      </v-tabs>

      <v-card ref="form" v-if="change === true">
        <v-card-text>
          <span>รหัสสินค้า</span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem._id"
            outlined
            disabled
          ></v-text-field>
          <span>ชื่อสินค้า </span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem.productName"
            outlined
            disabled
          ></v-text-field>
          <span>ประเภทสินค้า</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.type"
            outlined
            disabled
          ></v-text-field>
          <span>หน่วย</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.unit"
            outlined
            disabled
          ></v-text-field>
          <span>ราคาต่อหน่วย</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.price"
            outlined
            disabled
          ></v-text-field>
          <span>จำนวณสินค้า</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.amount"
            outlined
            disabled
          ></v-text-field>
          <span>รายละเอียดสินค้า</span>
          <v-textarea
            ref="register_form"
            v-model="dataItem.detail"
            :rules="rule_detail"
            outlined
            disabled
          ></v-textarea>
        </v-card-text>
      </v-card>

      <v-card ref="form" v-if="change === false">
        <v-card-text>
          <v-row>
            <v-col cols="4">
              <div class="d-flex flex-column">
                <span>รหัสสินค้า :</span>
                <span>ชื่อสินค้า :</span>
                <span>ราคาต่อหน่วย :</span>
              </div>
            </v-col>
            <v-col cols="8">
              <div class="d-flex flex-column">
                <span>{{ dataItem._id }}</span>
                <span>{{ dataItem.productName }}</span>
                <span>{{ dataItem.price }}</span>
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col v-for="history in userData" :key="history.id" cols="12">
              <v-card  max-width="344"   style="height:120px;border: 1px solid #7E8FE5;border-radius: 8px;">
                <div class="d-flex flex-column" style="margin-top:17px;margin-left: 20px;">
                  <span>ชื่อผู้ซื้อ : {{ history.user_name }}</span>
                  <span>วันที่ซื้อ : {{ history.created_at }}</span>
                  <span>จำนวน : {{ history.amount }}</span>
                  <span>ราคา : {{ history.totalprice }}</span>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "@/EventBus";
export default {
  data() {
    return {
      userData: [],
      dialog: false,
      change: true,
      dataItem: {
        productName: "",
        price: "",
        amount: "",
        type: "",
        unit: "",
        detail: "",
      },
      history: {
        user_name: "",
        created_at: "",
        amount: "",
        totalprice: "",
      },
      rule_productName: [(v) => !!v || "กรุณากรอกชื่อสิรค้า"],
      rule_price: [(v) => !!v || "กรุณากรอกราคา"],
      rule_amount: [(v) => !!v || "กรุณากรอกจำนวณสินค้า"],
      rule_type: [(v) => !!v || "กรุณากรอกประเภทสินค้า"],
      rule_unit: [(v) => !!v || "กรุณากรอกหน่วยของสินค้า"],
      rule_detail: [(v) => !!v || "กรุณากรอกรายละเอียดสินค้า"],
    };
  },
  created() {
    EventBus.$on("userItem", this.getItem);
  },
  mounted() {
    // this.getProduct();
    // EventBus.$on("getProduct", this.getProduct);
  },
  methods: {
    openDialog() {
      this.dialog = true;
      this.getProduct();
      EventBus.$on("getProduct", this.getProduct);

      // this.edit(dataItem)
    },
    getItem(ad) {
      this.dataItem = ad;
    },
    getProduct() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test/history")
        .then((res) => {
          console.log(res);
          console.log(res.data.data.length);
          console.log(this.dataItem._id);
          console.log(res.data.data[0].product_id);
          for (let i = 0; i < res.data.data.length; i++) {
            if (
              res.data.message === "success" &&
              res.data.data[i].product_id === this.dataItem._id
            ) {
              this.userData.push(res.data.data[i]);
            }
          }
        });
    },
  },
};
</script>

<style>
</style>