<template>
  <v-dialog v-model="dialog" width="500px" height="1000px">
    <v-card v-model="dialog">
      <v-card-title
        class="text-h5 lighten-2"
        style="background-color: #ffffff; color: black"
      >
        แก้ไขประวัติการซื้อสิ้นค้า
      </v-card-title>


      <v-card ref="form">
        <v-card-text>
          <span>ชื่อผู้ใช้</span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem2.name"
            outlined
          ></v-text-field>
          <span>เพศ </span>
           <v-select
            :items="genders"
            label: dataItem2.gender
            outlined
            ref="register_form"
            v-model="dataItem2.gender"
          ></v-select>
          <span>อายุ</span>
           <v-text-field
            ref="register_form"
            v-model="dataItem2.age"
            outlined
          ></v-text-field>
          <span>เบอร์โทร</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem2.phone"
            outlined
          ></v-text-field>
          <span>username</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem2.username"
            outlined
          ></v-text-field>
          <span>สิทธิ์ผู้ใช้งาน</span>
           <v-select
            :items="statuss"
            label: dataItem2.status
            outlined
            ref="register_form"
            v-model="dataItem2.status"
          ></v-select>
        </v-card-text>
        <v-card-actions>
          <v-btn
            text
            style="
              color: #7e8fe5;
              border: 1.5px solid #7e8fe5;
              margin-left: auto;
              margin-right: auto;
              width: 200px;
            "
            @click="dialog = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            text
            color="#ffff"
            style="
              margin-left: auto;
              margin-right: auto;
              background-color: #7e8fe5;
              width: 200px;
            "
            @click="updateUser"
            >บันทึก</v-btn
          >
        </v-card-actions>
      </v-card>

      
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "@/EventBus";
export default {
  data() {
    return {
      dialog: false,
      change: true,
      genders:['หญิง','ชาย'],
      statuss:['user','admin'],
      dataItem: {
        name: "",
        address: "",
        age: "",
        gender: "",
        email: "",
        phone: "",
        username: "",
        status: "",
      },
      dataItem2: [],
      rule_productName: [(v) => !!v || "กรุณากรอกชื่อสิรค้า"],
      rule_price: [(v) => !!v || "กรุณากรอกราคา"],
      rule_amount: [(v) => !!v || "กรุณากรอกจำนวณสินค้า"],
      rule_type: [(v) => !!v || "กรุณากรอกประเภทสินค้า"],
      rule_unit: [(v) => !!v || "กรุณากรอกหน่วยของสินค้า"],
      rule_detail: [(v) => !!v || "กรุณากรอกรายละเอียดสินค้า"],
    };
  },
  created() {
    EventBus.$on("userItem", this.getItem);
  },
  methods: {
    openDialog(dataItem) {
      this.dialog = true;
      this.dataItem2 = JSON.parse(JSON.stringify(dataItem));
     
      // this.edit(dataItem)
    },
    getItem(ad) {
      this.dataItem = ad;
    },
    getUser() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test2/user2")
        .then((res) => {
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },
    updateUser() {
      var sentData = this.dataItem2;
      this.axios
        .put(
          process.env.VUE_APP_BASE_URL + "/test2/user2/" + this.dataItem._id,
          sentData
        )
        .then((res) => {
          if (res.data.message === "success") {
            this.getUser();
            EventBus.$emit("getUser");
            this.$swal({
              type: "success",
              icon: "success",
              width: 366,
              title:
                "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>อัพเดตข้อมูลสำเร็จ</span>",
              showCloseButton: false,
              showConfirmButton: false,
              background: "white",
              position: "center",
              timer: 3000,
              backdrop: false,
            });
            this.dialog = false;
          } else {
            this.$swal({
              type: "error",
              icon: "error",
              width: 366,
              title:
                "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>อัพเดตข้อมูลไม่สำเร็จ</span>",
              showCloseButton: false,
              showConfirmButton: false,
              background: "white",
              position: "center",
              timer: 3000,
              backdrop: false,
            });
          }
        });
    },
  },
};
</script>

<style>
</style>