<template>
  <v-dialog v-model="dialog" width="500px" height="1000px">
    <v-card v-model="dialog">
      <v-card-title
        class="text-h5 lighten-2"
        style="background-color: #ffffff; color: black"
      >
        แก้ไขรายละเอียดสิ้นค้า
      </v-card-title>

      
        <v-card-text>
          <span>รหัสสินค้า</span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem._id"
            outlined
            disabled
          ></v-text-field>
          <span>ชื่อสินค้า </span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem2.productName"
            outlined
           
          ></v-text-field>
          <span>ประเภทสินค้า</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem2.type"
            outlined
           
          ></v-text-field>
          <span>หน่วย</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem2.unit"
            outlined
           
          ></v-text-field>
          <span>ราคาต่อหน่วย</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem2.price"
            outlined
           
          ></v-text-field>
          <span>จำนวณสินค้า</span>
          <v-text-field
            ref="register_form"
            v-model="dataItem2.amount"
            outlined
            
          ></v-text-field>
          <span>รายละเอียดสินค้า</span>
          <v-textarea
            ref="register_form"
            v-model="dataItem2.detail"
            :rules="rule_detail"
            outlined
            
          ></v-textarea>
        </v-card-text>
       <v-card-actions>
            <v-btn
              text
              style="
                color: #7e8fe5;
                border: 1.5px solid #7e8fe5;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
              "
              @click="dialog = false"
            >
              ยกเลิก
            </v-btn>
            <v-btn
              text
              color="#ffff"
              style="
                margin-left: auto;
                margin-right: auto;
                background-color: #7e8fe5;
                width: 200px;
              "
              @click="updateProduct"
              >บันทึก</v-btn
            >
          </v-card-actions>


    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "@/EventBus";
export default {
  data() {
    return {
      dialog: false,
      change: true,
      dataItem: {
        productName: "",
        price: "",
        amount: "",
        type: "",
        unit: "",
        detail: "",
      },
      dataItem2:[],
      rule_productName: [(v) => !!v || "กรุณากรอกชื่อสิรค้า"],
      rule_price: [(v) => !!v || "กรุณากรอกราคา"],
      rule_amount: [(v) => !!v || "กรุณากรอกจำนวณสินค้า"],
      rule_type: [(v) => !!v || "กรุณากรอกประเภทสินค้า"],
      rule_unit: [(v) => !!v || "กรุณากรอกหน่วยของสินค้า"],
      rule_detail: [(v) => !!v || "กรุณากรอกรายละเอียดสินค้า"],
    };
  },
  created() {
    EventBus.$on("userItem", this.getItem);
  },
  methods: {
    openDialog(dataItem) {
      this.dialog = true;
      this.dataItem2 = JSON.parse(JSON.stringify(dataItem));
      // this.edit(dataItem)
    },
    getItem(ad) {
      this.dataItem = ad;
    },
    getProduct() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test/product")
        .then((res) => {
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },
    updateProduct() {
      var sentData = this.dataItem2;
      this.axios
        .put(
          process.env.VUE_APP_BASE_URL + "/test/product/" + this.dataItem._id,
          sentData
        )
        .then((res) => {
          if (res.data.message === "success") {
            this.getProduct();
            EventBus.$emit("getProduct");
            this.$swal({
              type: "success",
              icon: "success",
              width: 366,
              title:
                "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>อัพเดตข้อมูลสำเร็จ</span>",
              showCloseButton: false,
              showConfirmButton: false,
              background: "white",
              position: "center",
              timer: 3000,
              backdrop: false,
            });
            this.dialog = false;
          } else {
            this.$swal({
              type: "error",
              icon: "error",
              width: 366,
              title:
                "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>อัพเดตข้อมูลไม่สำเร็จ</span>",
              showCloseButton: false,
              showConfirmButton: false,
              background: "white",
              position: "center",
              timer: 3000,
              backdrop: false,
            });
          }
        });
    },
  },
};
</script>

<style>
</style>