<template >
  <v-dialog v-model="dialog" width="500px" height="1000px">
    <v-card v-model="dialog">
      <v-card-title
        class="text-h5 lighten-2"
        style="background-color: #ffffff; color: black"
      >
        เพิ่มข้อมูลผู้ใช้
      </v-card-title>
      <v-card ref="form">
        <v-card-text>
          <span>ชื่อ-นามสกุลผู้ใช้ <span style="color: red">*</span></span>
          <v-text-field
            height="10px"
            ref="register_form"
            v-model="dataItem.name"
            :rules="rule_name"
            outlined
          ></v-text-field>
          <span>ที่อยู่<span style="color: red">*</span></span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.address"
            :rules="rule_address"
            outlined
          ></v-text-field>
          <span>เพศ<span style="color: red">*</span></span>

          <v-select
            ref="register_form"
            v-model="dataItem.gender"
            :rules="rule_gender"
            :items="gender"
            outlined
          ></v-select>
          <span>อายุ<span style="color: red">*</span></span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.age"
            :rules="rule_age"
            outlined
          ></v-text-field>
          <span>เบอร์โทร<span style="color: red">*</span></span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.phone"
            :rules="rule_phone"
            outlined
          ></v-text-field>
          <span>username<span style="color: red">*</span></span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.username"
            :rules="rule_username"
            outlined
          ></v-text-field>
          <span>password<span style="color: red">*</span></span>
          <v-text-field
            ref="register_form"
            v-model="dataItem.password"
            :rules="role_password"
            outlined
          ></v-text-field>
          <v-card-actions>
            <v-btn
              text
              style="
                color: #7e8fe5;
                border: 1.5px solid #7e8fe5;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
              "
              @click="dialog = false"
            >
              ยกเลิก
            </v-btn>
            <v-btn
              text
              color="#ffff"
              style="
                margin-left: auto;
                margin-right: auto;
                background-color: #7e8fe5;
                width: 200px;
              "
              @click="postUser"
              >บันทึก</v-btn
            >
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      gender: ["male", "female"],
      dialog: false,
      dataItem: {
        name: "",
        address: "",
        age: "",
        gender: "",
        phone: "",
        username: "",
        password: "",
      },
      rule_name: [(v) => !!v || "กรุณากรอกชื่อ-นามสกุล"],
      rule_address: [(v) => !!v || "กรุณากรอกที่อยู่"],
      rule_age: [(v) => !!v || "กรุณากรอกอายุ"],
      rule_gender: [(v) => !!v || "กรุณากรอกเพศ"],
      rule_phone: [(v) => !!v || "กรุณากรอกหมายเลขโทรสัพ"],
      rule_username: [(v) => !!v || "กรุณากรอก username"],
      role_password: [(v) => !!v || "กรุณากรอก passwoed"],
    };
  },
  methods: {
    openDialog() {
      this.dialog = true;
    },
    getUser() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test2/user2")
        .then((res) => {
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },
    postUser() {
      if (!this.$refs.register_form.validate()) {
        alert("กรุณากรอกข้อมูลให้ครบถ้วน");
      } else {
        const sentData = this.dataItem;
        this.axios
          .post(process.env.VUE_APP_BASE_URL + "/test2/user2", sentData)
          .then((res) => {
            if (res.data.message === "success") {
              this.getUser();

              this.$swal({
                type: "success",
                icon: "success",
                width: 366,
                title:
                  "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>บันทึกข้อมูลสำเร็จ</span>",
                showCloseButton: false,
                showConfirmButton: false,
                background: "white",
                position: "center",
                timer: 3000,
                backdrop: false,
              });
              this.dialog = false;
              this.resetItemData();
            } else {
              this.$swal({
                type: "error",
                icon: "error",
                width: 366,
                title:
                  "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>บันทึกข้อมูลไม่สำเร็จ</span>",
                showCloseButton: false,
                showConfirmButton: false,
                background: "white",
                position: "center",
                timer: 3000,
                backdrop: false,
              });
            }
          });
      }
    },
    resetItemData() {
      this.dataItem = {
        name: "",
        address: "",
        age: "",
        gender: "",
        phone: "",
        username: "",
        password: "",
      };
    },
  },
};
</script>

<style >
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #eff6fc;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 133, 133);
}

::-webkit-scrollbar-corner {
  background: #d8d8d8;
}
</style>