<template>
  <v-dialog v-model="dialog" width="350px" height="1000px">
    <v-card v-model="dialog">
      <v-card-title
        class="text-h5 lighten-2"
        style="background-color: #ffffff; color: black"
      >
        {{ dataItem.productName }}
      </v-card-title>

      <v-card>
        <v-card-text class="d-flex flex-column">
          <span style="margin-bottom: 10px">รายละเอียดสินค้า</span>

          <span style="margin-top: 20px">{{ dataItem.detail }} </span>

          <span style="margin-top: 40px"
            >ราคาต่อหน่วย:{{ dataItem.price }}</span
          >
          <span
            >จำนวน:<v-text-field
              min="0"
              outlined
              dense
              type="number"
              style="width: 100px"
              :rules="[(v) => /^([0-9])+$/.test(v) ||'จำนวนไม่ถูกต้อง!!' ]"
              v-model="orderItem.amount"
            ></v-text-field
          ></span>

          <span style="margin-top: 80px"
            >ราคาที่ต้องชำระ :{{ sumtotalprice() }}</span
          >
        </v-card-text>

        <v-card-actions>
          <v-btn
            text
            style="
              color: #7e8fe5;
              border: 1.5px solid #7e8fe5;
              margin-left: auto;
              margin-right: auto;
              width: 150px;
            "
            @click=resetorder();
          >
            ยกเลิก
          </v-btn>
          <v-btn
            text
            color="#ffff"
            style="
              margin-left: auto;
              margin-right: auto;
              background-color: #7e8fe5;
              width: 150px;
            "
            @click="postorder"
            >บันทึก</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "@/EventBus";
export default {
  data() {
    return {
      username: sessionStorage.getItem("name"),
      userid: sessionStorage.getItem("_id"),
      dialog: false,
      updateamount: {
        amount: "",
        productName: "",
        price: "",
        type: "",
        unit: "",
        detail: "",
      },
      dataItem: {
        productName: "",
        price: "",
        amount: "",
        type: "",
        unit: "",
        detail: "",
      },
      orderItem: {
        amount: "",
        totalprice: "",
        user_name: "",
        product_name: "",
        user_id: "",
        product_id: "",
      },
    };
  },
  created() {
    EventBus.$on("userItem", this.getItem);
    console.log(this.getItem);
    // this.orderItem.productName=
  },
  mounted() {
    this.getProduct();
    EventBus.$on("getProduct", this.getProduct);
  },

  methods: {

    resetorder(){
      this.dialog =false
      this.resetODer();
    },
    sumtotalprice() {
      this.orderItem.user_name = this.username;
      this.orderItem.user_id = this.userid;
      this.orderItem.totalprice = this.orderItem.amount * this.dataItem.price;
      this.updateamount.amount = this.dataItem.amount - this.orderItem.amount;
      this.updateamount.productName = this.dataItem.productName;
      this.updateamount.price = this.dataItem.price;
      this.updateamount.type = this.dataItem.type;
      this.updateamount.unit = this.dataItem.unit;
      this.updateamount.detail = this.dataItem.detail;
      return this.orderItem.amount * this.dataItem.price;
      
    },
    openDialog(dataItem) {
      this.dialog = true;
      this.orderItem.product_name = dataItem.productName;
      this.orderItem.product_id = dataItem._id;
      // this.edit(dataItem)
    },
    getItem(ad) {
      this.dataItem = ad;
    },
     resetODer(){
       this.orderItem =
      {
       amount: "",
       totalprice: "",
      }
    },
    postorder() {
      const sentData = this.orderItem;
      this.axios
        .post(process.env.VUE_APP_BASE_URL + "/test/history", sentData)
        .then((res) => {
          if (res.data.message === "success") {
            this.$swal({
              type: "success",
              icon: "success",
              width: 366,
              title:
                "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>บันทึกข้อมูลสำเร็จ</span>",
              showCloseButton: false,
              showConfirmButton: false,
              background: "white",
              position: "center",
              timer: 3000,
              backdrop: false,
            });
            this.dialog = false;
            this.updateProduct();
          } else {
            this.$swal({
              type: "error",
              icon: "error",
              width: 366,
              title:
                "<span style='color: black;font-size: 20px;font-family: Sarabun, sans-serif;'>บันทึกข้อมูลไม่สำเร็จ</span>",
              showCloseButton: false,
              showConfirmButton: false,
              background: "white",
              position: "center",
              timer: 3000,
              backdrop: false,
            });
          }
        });
    },
     getProduct() {
      this.axios
        .get(process.env.VUE_APP_BASE_URL + "/test/product")
        .then((res) => {
          console.log(res);
          if (res.data.message === "success") {
            this.userData = res.data.result;
          }
        });
    },
    updateProduct() {
      var sentData = this.updateamount;
      this.axios
        .put(
          process.env.VUE_APP_BASE_URL + "/test/product/" + this.dataItem._id,
          sentData
        )
        .then((res) => {
          if (res.data.message === "success") {
            this.getProduct();
            EventBus.$emit("getProduct");
            this.dialog = false;
          }
        });
    },
  },
};
</script>

<style>
</style>